.aboutSection {
  background-color: #242734;
  height: 100vh;
  padding: 0 7rem;
  margin: -5rem 0;
  z-index: 5;
}

.aboutInnerCard {
  transform-style: preserve-3d;
  position: relative;
  padding: 4.5rem 5rem;
  display: flex;
  justify-content: space-between;
  gap: 7rem;
  background-color: #383f59;
  border-radius: 20px;
  transform: translateZ(75px);
}

.aboutBox {
  z-index: 15;
  position: relative;
  background-color: #2b3043;
  border-radius: 20px;
  padding: 3rem 3rem;

  transform-style: preserve-3d;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.aboutImg {
  width: 28rem;
  height: auto;
  object-fit: cover;
}

.aboutHeader {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.aboutLink {
  margin-top: 2.3rem;
}
