.h1 {
  font-size: 5.8em;
  color: white;
  font-weight: 400;
  word-spacing: 0.2em;
}

.h2 {
  font-size: 2.5em;
  font-weight: 300;
  color: #dedede;
}

.h3 {
  font-size: 0.85em;
  color: #949494;
  font-weight: 200;
}

.p {
  font-size: 0.9em;
  color: #b8b8b8;
  line-height: 2em;
}

.a {
  color: #e4ac2c;
  text-decoration: none;
  cursor: pointer;
}

.home-page {
  background-color: #0c0e14;
}
