.heroSection {
  padding: 15rem 7rem;
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: #242734;
  margin-bottom: 10rem;
}

.heroName {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  gap: 1rem;
}

.headerBar {
  background-color: #e4ac2c;
  border: none;
  width: 16rem;
  height: 0.7rem;
}

.hero-box {
  background-color: #e4ac2c;
  width: 33rem;
  position: absolute;
  z-index: 1;

  top: -2rem;
  bottom: 0;
  right: -15rem;
  transform: rotate(-35deg);
  border-radius: 20px;
  transform: skew(-35deg);
  transform-origin: top;
}

.heroImg {
  position: absolute;
  right: 10rem;
  bottom: 0rem;
  z-index: 5;
  height: 96vh;
  width: auto;
  object-fit: cover;
}
