@use "fonts.scss";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Roboto Slab", serif;
}

html {
  min-height: 100vh;
}

html,
body {
  width: 100vw;
  background-color: #0c0e14;

  @media screen and (max-width: 768px) {
    overflow-x: hidden;
  }
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: transparent;
  width: 7px;
  height: 7px;
  margin: 0;
}

::-webkit-scrollbar-button {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #171c28;
  border-radius: 100px;

  &:hover {
    background-color: #1d2434;
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}
