@import "./variables.scss";
@import "./breakpoints.scss";

$value-pro-bkg: rgb(30, 30, 30);
$about-content-bkg: rgb(37, 37, 37);
$image-cont-bkg: rgb(28, 28, 28);

.about-cont {
  background-color: rgb(28, 28, 28);
  color: white;

  .about-above-the-fold {
    padding: 10rem 0;
    text-align: center;
    background-color: rgb(17, 17, 17);

    .page-title {
      font-size: 3em;
      margin: 0;
    }
  }

  .value-proposition {
    background-color: $value-pro-bkg;
    padding: 7rem 25rem;
    text-align: center;

    .value-text {
      font-style: italic;
      font-weight: 50;
      line-height: 2.25em;
    }
  }

  .content-section {
    padding: 5rem $content-padding;
    background-color: $about-content-bkg;

    h2 {
      font-size: 4em;
      font-weight: 400;

      &.user-name {
        margin-top: 1rem;
      }
      &.user-lastname {
        margin-bottom: 5rem;
      }
    }

    p {
      font-weight: 300;
    }

    .about-text-content {
      margin: 3rem 0;
    }

    .section-cont {
      display: flex;
      margin: 10rem 0;

      .img-cont {
        background-color: $image-cont-bkg;
      }

      .img-1 {
        flex: 0.75;
        margin-right: 2rem;
      }

      .img-2 {
        flex: 1;
        margin-left: 2rem;
      }

      .text-cont {
        flex: 1;
      }
    }
  }
}
