.home-cont {
  background-color: #1b1b1b;
  color: white;
  height: 100vh;

  .nav-cont {
    display: flex;
    justify-content: flex-end;
    column-gap: 4rem;
    padding: 2.5rem 5rem;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 0.92em;
  }

  .hero-cont {
    height: 100vh;
  }
}
