@import "./variables.scss";

.home-cont {
  background-color: #161616;
  color: white;

  .hero-cont {
    height: 100vh;
    padding-left: $content-padding;
    padding-right: $content-padding;
    padding-top: 9rem;
    overflow: hidden;
    position: relative;

    .hero-title {
      font-size: 3.5em;
      margin: 0;
    }

    .hero-jobs {
      color: $primary-color;
    }

    .hero-desc {
      margin-top: 2rem;
      font-size: 0.95em;
      max-width: 23rem;
    }

    .call-to-action {
      padding: 0.75rem 2.5rem;
      margin-top: 2.5rem;
      background-color: transparent;
      color: $primary-color;
      border-color: $primary-color;
      font-size: 1em;
      border-width: 2px;
      position: relative;
      overflow: hidden;

      &:hover {
        cursor: pointer;
      }

      .call-to-action-text {
        z-index: 1;
        position: relative;
      }

      .hover-bkg {
        position: absolute;
        background-color: $primary-color;
        top: 0;
        left: -20px;
        height: 100%;
        width: 0px;
        transform: skew(-30deg);
        border: 1px solid $primary-color;
        z-index: 0;
      }
    }

    .hero-img {
      position: absolute;
      top: -7rem;
      right: -25rem;
      opacity: 80%;
      width: 115%;
      display: none;
    }
  }

  .desc-section {
    padding: 10rem $content-padding 5rem;
    background-color: rgb(30, 30, 30);

    p {
      max-width: 34rem;
      font-size: 0.9em;
      margin-bottom: 2.75rem;
    }

    .redirect-link {
      color: $dark-primary;

      .link-cont {
        display: inline-flex;
        align-items: center;
        position: relative;

        .arrow-icon {
          margin-left: 0.75rem;
        }

        .underline-cont {
          position: absolute;
          bottom: -0.5rem;
          left: 0;
          background-color: $dark-primary;
          height: 2px;
          width: 0;
        }
      }
    }

    .section-row {
      margin-bottom: 10rem;
      display: flex;

      #tagCloud {
        color: $primary-color;
      }

      .section-about {
        flex: 1.2;
      }
      .section-skills {
        flex: 0.8;
        padding-top: 5rem;
      }

      .section-media {
        flex: 1;
      }
    }
  }

  .project-cont {
    padding: 7rem $content-padding;
    background-color: rgb(37, 37, 37);
    position: relative;
    padding-bottom: 15rem;

    .project-header {
      font-weight: 1000;
      font-size: 14em;
      opacity: 7%;
      position: absolute;
      top: -3rem;
      left: calc($content-padding - 6rem);
    }

    $grid-gap: 2.5rem;
    .project-items-cont {
      margin-top: 11.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: $grid-gap;
      row-gap: $grid-gap;

      .project-item {
        filter: drop-shadow(-8px 7px 7px rgba(0, 0, 0, 0.4));
        position: relative;
        background-color: #294031;
        height: 22rem;
        max-width: 20rem;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        border-radius: 10px;

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          z-index: 1;
        }

        .proj-details {
          background-color: rgba(27, 27, 27, 0.65);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          padding: 2rem;
          display: flex;
          flex-direction: column;

          .item-title {
            margin: 0;
            width: 100%;
            margin-bottom: 1rem;
          }

          hr {
            color: rgb(209, 209, 209);
            width: 100%;
            margin: 0;
          }

          .item-desc {
            margin-top: 1.5rem;
            font-size: 0.8em;
            max-height: 4rem;
            overflow: hidden;
          }

          .details-link {
            margin-top: auto;
          }
        }
      }
    }
  }
}
