@import "./variables.scss";
@import "./breakpoints.scss";

$bkg-color: rgb(37, 37, 37);
.project-cont {
  padding: 7rem $content-padding;
  background-color: $bkg-color;
  position: relative;
  padding-bottom: 15rem;
  z-index: 0;

  .outline-cont {
    height: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .project-header {
    font-weight: 1000;
    font-size: 14em;
    opacity: 20%;
    position: absolute;
    top: -5rem;
    left: calc($content-padding - 6rem);


    @include media("<=phone") {
      opacity: 20%;
      font-size: 3.5em;
      position: static;
      margin: 0;
      text-align: center;
    }
  }

  .project-outline-header {
    font-weight: 1000;
    font-size: 14em;
    opacity: 10%;
    position: absolute;
    top: -5rem;
    left: calc($content-padding - 6rem);
    z-index: -5;

    $outline-thickness: 3px;
    color: $bkg-color;
    background-color: $bkg-color;
    text-shadow: (-$outline-thickness) (-$outline-thickness) 0 #fff,
      $outline-thickness (-$outline-thickness) 0 #fff,
      (-$outline-thickness) $outline-thickness 0 #fff,
      $outline-thickness $outline-thickness 0 #fff;

    @include media("<=phone") {
      display: none;
    }
  }

  .project-outline-header-1 {
    font-weight: 1000;
    font-size: 14em;
    opacity: 5%;
    position: absolute;
    top: -5rem;
    left: calc($content-padding - 6rem);
    z-index: -5;

    $outline-thickness: 3px;
    color: $bkg-color;
    background-color: $bkg-color;
    text-shadow: (-$outline-thickness) (-$outline-thickness) 0 #fff,
      $outline-thickness (-$outline-thickness) 0 #fff,
      (-$outline-thickness) $outline-thickness 0 #fff,
      $outline-thickness $outline-thickness 0 #fff;

    @include media("<=phone") {
      display: none;
    }
  }

  $grid-gap: 2.5rem;
  .project-items-cont {
    margin-top: 11.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: $grid-gap;
    row-gap: $grid-gap;

    .project-item {
      filter: drop-shadow(-8px 7px 7px rgba(0, 0, 0, 0.4));
      position: relative;
      background-color: #294031;
      height: 22rem;
      max-width: 20rem;
      display: flex;
      align-items: flex-end;
      overflow: hidden;
      border-radius: 10px;
      opacity: 0;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 1;
      }

      .proj-details {
        background-color: rgba(27, 27, 27, 0.65);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding: 2rem;
        display: flex;
        flex-direction: column;

        .item-title {
          margin: 0;
          width: 100%;
          margin-bottom: 1rem;
          font-size: 1.25em;
        }

        hr {
          color: rgb(209, 209, 209);
          width: 100%;
          margin: 0;
        }

        .item-desc {
          margin-top: 1.5rem;
          font-size: 0.8em;
          height: 5rem;
          overflow: hidden;
          margin-bottom: 3rem;
        }

        .redirect-link {
          color: $primary-color;
          font-size: 0.75em;

          .redirect-link-cont {
            position: relative;
            display: inline;

            .underline {
              position: absolute;
              bottom: -0.5rem;
              left: 0;
              width: 0;
              height: 1.5px;
              background-color: $primary-color;
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      @include media("<=1300px") {
        max-width: 2000px;
    }

      @include media("<=800px") {
        width: 20rem;
      }
    }

    @include media("<=1300px") {
        grid-template-columns: 1fr 1fr;
    }

    @include media("<=800px") {
      grid-template-columns: 1fr;
      margin-top: 5rem;
      justify-items: center;
    }
  }
  
  @include media("<=1400px") {
    padding: 7rem $tablet-content-pd;
  }

  @include media("<=800px") {
    padding: 7rem $ph-content-pd;
  }

}

.project-detail-modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  padding: 2.5rem 4rem;
  z-index: 999;

  .modal-bkg {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  $border-radius: 10px;
  .modal-cont {
    background-color: white;
    height: 100%;
    border-radius: $border-radius;
    display: flex;
    background-color: rgb(27, 27, 27);
    filter: drop-shadow(-8px 7px 15px rgba(0, 0, 0, 0.7));

    .project-preview {
      flex: 3;
      position: relative;

      .modal-cover {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .close-modal {
        height: 3rem;
        width: 3rem;
        padding: 0.5rem;
        border-radius: 25px;
        border: none;
        position: absolute;
        top: 1.2rem;
        left: 1.2rem;
        background-color: transparent;

        svg {
          width: 100%;
          height: 100%;
          fill: rgba(255, 255, 255, 0.45);
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
    .project-info {
      background-color: rgb(40, 40, 40);
      width: 28rem;
      border-radius: $border-radius;
      box-sizing: border-box;
      padding: 2rem;

      .project-title {
        margin: 0;
        margin-bottom: 1rem;
      }

      .project-tags {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.7em;
        user-select: none;

        .project-tag-item {
          padding: 0.55rem 1.1rem;
          margin-right: 0.7rem;
          margin-bottom: 0.75rem;
          border: 1px solid rgb(120, 120, 120);
          border-radius: 15px;
        }
      }

      .project-description {
        display: flex;
        flex-direction: column;

        .project-summary-content {
          font-size: 0.85em;
          margin-bottom: 2rem;
        }

        .links-cont {
          display: flex;
          // flex-direction: column;

          .link-btn {
            display: inline-flex;
            align-items: center;
            // width: 7.5rem;
            // width: auto;
            text-align: left;
            font-size: 0.65em;
            padding: 0.65rem 0.55rem;
            margin-bottom: 1.5rem;
            margin-right: 1rem;
            border: 1px solid $primary-color;
            border-radius: 3px;
            background-color: transparent;
            color: $primary-color;
            flex: 1;

            .link-icon {
              fill: $primary-color;
              margin-right: 0.5rem;
              height: 1rem;
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
