@import "./breakpoints.scss";

* {
    margin: 0;
}

body {
    background-color: black;
}

.invite {
    height: 100vh;
    overflow: hidden;
    background-color: #3e3e3eaf;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .prompt {
        p {
            font-size: 4em;
            text-align: center;

            @include media("<=700px") {
                font-size: 3em;
            }

            @include media("<=430px") {
                font-size: 2.2em;
            }

            @include media("<=300px") {
                font-size: 2em;
            }
        }
    }

    .actions {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 1.5rem;

        button {
            padding: 1rem 3rem;
            font-size: 1.2em;
            border-radius: 10px;
            border: none;
            color: white;
            cursor: pointer;

            &.accept {
                background-color: rgb(0, 150, 0);

                &:hover {
                    background-color: rgb(0, 166, 0);
                }
            }

            &.deny {
                background-color: rgb(224, 0, 0);

                &:hover {
                    background-color: rgb(237, 16, 16);
                }
            }

            @include media("<=430px") {
                font-size: 0.9em;
                padding: 1rem 2rem;
            }
        }
    }
}